.canvas-container { 
    /* padding-left: 50px;
    padding-right: 50px; */
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
}

img {
    width: 600px;
    height: 600px;
    object-fit: cover;
}

.draw-canvas {
    margin: 0px 0px 0px 5px;
    border: 1px black solid;
}